/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.tab {
    -fx-pref-height: 45px;
    -fx-pref-width: 45px;
} 
.root{
	-fx-base: rgb(24,25,27);
}
TextFlow{
	-fx-text-fill: white;
}